.skill-label {
    border: 1px solid rgb(172, 171, 171);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #363e49;
    color: rgb(233, 233, 233);
    font-weight: bold;
    font-size: 15px;
}